html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #274472;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin:20px;
  padding: 20px;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 2em;
  color: #000;
  text-align: center;
  position: relative;
}

.match {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score, .desc {
  margin-top: 10px;
}

.names div {
  display: inline;
}

.names .flag {
  margin: 0px 5px;
}
.names .flag.left {
  display: none;
}
.names .flag.right {
  display: inline;
}

@media only screen and (max-width : 700px) {
  .match {
    height: 300px;
  }

  .names .vs {
    display: block;
    font-size: 0.6em;
  }

  .names .flag.left {
    display: inline;
  }
  .names .flag.right {
    display: none;
  }

  .score {
    font-size: 1.2em;
  }

  .desc {
    font-size: 0.8em;
  }
}

.navigation div:first-child {
  text-align: left;
  float: left;
}

.navigation div:last-child {
  text-align: right;
  float: right;
}