html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #274472;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loading animation */
.loading-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/* Animations */
.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

/* Styling */
.box {
  margin:20px;
  padding: 20px;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 2em;
  color: #000;
  text-align: center;
  position: relative;
}

.match {
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match > div {
  position: absolute;
}

.score, .desc {
  margin-top: 10px;
}

.names div {
  display: inline;
}

.names .flag {
  margin: 0px 5px;
}
.names .flag.left {
  display: none;
}
.names .flag.right {
  display: inline;
}

@media only screen and (max-width : 700px) {
  .match {
    height: 300px;
  }

  .names .vs {
    display: block;
    font-size: 0.6em;
  }

  .names .flag.left {
    display: inline;
  }
  .names .flag.right {
    display: none;
  }

  .score {
    font-size: 1.2em;
  }

  .desc {
    font-size: 0.8em;
  }
}

.navigation div:first-child {
  text-align: left;
  float: left;
}

.navigation div:last-child {
  text-align: right;
  float: right;
}